*{
	margin: 0;
	padding: 0;
}
body{
	background:grey;
}
.navbar{
	border-bottom: 2px solid orange;
	background:#262e30;
}
.navsize{
	font-size:18px;
	font-weight: bold;

}
#book-home{
	position: relative;
	background-image: url(../img/me1.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:650px;

}
.overlay{
	position: absolute;
	background-color:#3292a6f5;
	height: 100%;
	width: 100%;
}
.bbt{
	border-radius: 0;
}
button .op{
	margin-right: 10px;
}
ul li a{
	color: white!important;
}
ul li a:hover{
	background-color:black;
	transition: 0.4s ease;
}
.c1:hover,
.c3:hover{
	background-color:orange;
	transition: 0.5s ease;	
}

img.img-fluid.rounded-circle{
	width: 200px;
	margin-top: -100px;

}
#authore-member .card:hover{
	background-color: #17a2b8;
	color:white !important;
	transition: 0.5s ease;
}

#authore-member .card-body:hover .fa{
	color:white;
}
form .brrd{
	border-radius:none;
}


@media(max-width:576px){
#book-home .top-head{
		font-size:95px !important;
	}
}
@media(max-width:480px){
#book-home .top-head{
		font-size:65px !important;
	}
}





